* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

ul {
    list-style-type: none;
}

.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
        padding: 21.84px 0;
}

/* .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 

} */



.list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

}

.list a {
    color: #3A3845;
    text-decoration-line: none;
}

.icons ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}